.pictogram-search-form{
    display: flex;
    flex-direction: row;
}

.pictograms-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pictogram-search-form input{
    border-radius: 8px;
    border-width: 1px;
    border-color: #A0A4A8;
    border-style: solid;
    border-radius: 8px 0 0 8px;
    border-right-width: 0;
}

.pictogram-search-form input:focus{
    box-shadow: 0 0 0 0.25rem rgba(55, 210, 187, 40%);

}

.pictogram-search-form button{
    background-color: transparent;
    color: #37D2BB;
    border: 2px solid #37D2BB; 
    border-radius: 0 8px 8px 0;
}

.yes-border button {
  border: 2px solid #37D2BB; 
  border-radius: 8px !important;
}

.pictogram-search-form button:hover{
    background-color: #37D2BB;
    color: #fff;
    border: 2px solid #37D2BB; 
}

#root .pictogram-search-form button:active {
    background-color: #37D2BB;
    color: #fff;
    border: 2px solid #37D2BB; 
}

.btn-verde:active{
    background-color: #37D2BB !important;
    color: #fff !important;
    border: 2px solid #37D2BB  !important;
}

.image {
    height: 200px;
    width: 200px;
    margin: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.success {
  padding: 4;
}