.instruccion {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;

  width: 100%;
  background: #ffffff;

  border: 1px solid #d0d5dd;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.instruccion > placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b6b9ce;

  flex: none;
  order: 1;
  flex-grow: 1;
}

.imagenesInstruccion > form.control {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 42px 10px 14px;
  gap: 8px;

  background: #ffffff;

  border: 1px solid #d0d5dd;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.imagenesInstruccion > placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #b6b9ce;

  flex: none;
  order: 1;
  flex-grow: 0;
}


#root .active {
  background-color: #37d2bb !important;
  color: #fff !important;
}

.img-fluid {
  margin: -100px 0 0 -200px;
}

#root .stepImg {
  height: 200px;
  overflow: 'hidden';
  display: flex;
  justify-content: center;
  align-items: center;
}

#root .btn-upload {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: transparent;
  border: 1px solid #37d2bb;
  border-radius: 8px;
}

#root .btn-upload:hover {
  background: #37d2bb;
  border: 1px solid #37d2bb;
  border-radius: 8px;
  color: white;
}

#root .btn-upload:active {
  background: #37d2bb;
  border: 1px solid #37d2bb;
  border-radius: 8px;
  color: white;
}
